table {
    border: 3px solid rgb(2, 133, 150);
    border-radius: 10px;
    width: 900px;
    height: 500px;
    font-family: Arial, sans-serif;
    border-spacing: 0px;
    font-weight: bolder;
  }

  table img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .topPart {
    color:rgb(255, 255, 255);
    background-color:rgb(2, 133, 150);
    font-size: 30px;
  }
  
  th, td {
    padding: 10px;
    color: rgb(2, 133, 150);
  }

  td {
    width: 300px;
  }

  .main {
    background-color: rgb(160, 216, 223);
  }

  .user {
    background-color: rgb(224, 251, 255);
  }

 